/**
  *  This scss style sheet store all the colour variables that easy to change the colour in one place
  */

  $topbar-shadowbox-colour: #777877;
  $topbar-background-colour: #23b6f5;

  $container-colourpicker-boxshadow-colour: #888888;
